[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
requests = "*"
line-bot-sdk = "*"
flask = "*"
wikipedia = "*"
zhconv = "*"
wakeonlan = "*"

[requires]
python_version = "3.6"
